<div class="page-header">
  <h1>About Us</h1>
  <p>Welcome to The Jungle! We are your one-stop destination for all things related to plants. Our mission is to provide a diverse range of high-quality plants, gardening supplies, and expert advice to help you create and maintain your dream garden.</p>
  <p>Whether you're an experienced gardener or just starting out, we're here to support you on your green journey. Our team of passionate plant enthusiasts is always ready to assist you in finding the perfect plants for your space and answering any gardening questions you may have.</p>
  <p>Explore our wide selection of plants, including lush greenery, vibrant flowers, and unique succulents. We also offer a variety of gardening tools, pots, and accessories to help you care for your plants and create a beautiful outdoor oasis.</p>
  <p>Thank you for choosing The Jungle as your go-to source for all things botanical. We can't wait to be a part of your plant-filled adventures!</p>
</div>